<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">

	<title>Pack that list!</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="/css/style.css" type="text/css">
	<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
	<script src="/javascript/js.js"></script>
</head>

<body>
	<br>
	<img src="/images/bag.png" id="bag-pic">
	<h1> Pack Your Stuff </h1>
	<input class="form-control" type="text" placeholder="Add to your list..." id="new-item-field">
	<input class="btn btn-primary" type="submit" value="Add" id="new-item-button"> {{{ body }}}

</body>

</html>