<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<!--<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />-->
	<title>Pack that list!</title>

</head>

<body>
	<p>Hello</p>
	{{{ body }}}
	<p>Bye</p>
</body>

</html>