body {
    text-align: center;
    background-image: url(http://eskipaper.com/images/simple-cloud-wallpaper-1.jpg);
}

#bag-pic{
    height: 320px;
    width: 320px;
}

#new-item-field {
    width: 620px;
    margin: auto;
    margin-bottom: 20px;
}

.thing-block {
    padding: 5px;
}

.pack-item-button:hover {
    background-color: yellowgreen;
}
.pack-item-button {
    background-color: green;
    width: 90px;
}

.delete-item-button {
    background-color: orange;
    width: 90px;
}

.delete-item-button:hover {
    background-color: red;
}

.thingSpan {
    font-size: 20px;
    padding-right: 10px;
}